.navigation {
  width: 100vw;
  height: 6vh;
}
.game {
  background-image: url(https://i.imgur.com/PEIVQHM.jpg);
  background-size: cover;
  height: 94vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.gameLeft {
  height: 94vh;
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 2;
  align-items: center;
  justify-content: space-around;
}

.gameRight {
  border: 2px solid red;
  height: 80vh;  
  border-radius: 10px;
  margin: 0 10px 0 10px;
  flex-grow: 1;
}

.hexBoard {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 3vw;
}

.hexRow {
  height: max-content;
  display: flex;
  flex-direction: row;
  position: relative;
}

.statusBar {
  border-radius: 10px;
  height: 10vh;
  width: 90%;
  background: grey;
  padding: 10px;
  position: relative;
  top: -6vw;
}

@media (max-width: 800px) {
  .game {
    flex-direction: column;
  }
  .gameRight {
    width: 90%;
  }
}


.newGameForm {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
  margin: 4vh auto;
}

.newGameButton {
  background: linear-gradient(#5b61ff, #17057c);    
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  cursor: pointer;
  color: white;
  margin: auto;
}